(edif counter
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2025 08 20 10 26 27)
  (program "Vivado" (version "2018.2"))
  (comment "Built on 'Thu Jun 14 20:03:12 MDT 2018'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell LUT1 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
       )
     )
   )
   (cell FDCE (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port Q (direction OUTPUT))
        (port C (direction INPUT))
        (port CE (direction INPUT))
        (port CLR (direction INPUT))
        (port D (direction INPUT))
       )
     )
   )
   (cell VCC (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port P (direction OUTPUT))
       )
     )
   )
   (cell BUFG (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell LUT2 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell counter (celltype GENERIC)
     (view counter (viewtype NETLIST)
       (interface 
        (port clk (direction INPUT))
        (port rst (direction INPUT))
        (port (array (rename y "y[1:0]") 2) (direction OUTPUT))
       )
       (contents
         (instance (rename FSM_sequential_cs_0__i_1 "FSM_sequential_cs[0]_i_1") (viewref netlist (cellref LUT1 (libraryref hdi_primitives)))
           (property INIT (string "2'h1"))
         )
         (instance (rename FSM_sequential_cs_reg_0_ "FSM_sequential_cs_reg[0]") (viewref netlist (cellref FDCE (libraryref hdi_primitives)))
           (property FSM_ENCODED_STATES (string "A:00,B:01,C:10,D:11"))
           (property KEEP (string "yes"))
           (property INIT (string "1'b0"))
         )
         (instance (rename FSM_sequential_cs_reg_1_ "FSM_sequential_cs_reg[1]") (viewref netlist (cellref FDCE (libraryref hdi_primitives)))
           (property FSM_ENCODED_STATES (string "A:00,B:01,C:10,D:11"))
           (property KEEP (string "yes"))
           (property INIT (string "1'b0"))
         )
         (instance VCC (viewref netlist (cellref VCC (libraryref hdi_primitives))))
         (instance clk_IBUF_BUFG_inst (viewref netlist (cellref BUFG (libraryref hdi_primitives))))
         (instance clk_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance rst_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename y_OBUF_0__inst "y_OBUF[0]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename y_OBUF_0__inst_i_1 "y_OBUF[0]_inst_i_1") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename y_OBUF_1__inst "y_OBUF[1]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (net (rename &_const1_ "<const1>") (joined
          (portref CE (instanceref FSM_sequential_cs_reg_0_))
          (portref CE (instanceref FSM_sequential_cs_reg_1_))
          (portref P (instanceref VCC))
          )
         )
         (net clk (joined
          (portref I (instanceref clk_IBUF_inst))
          (portref clk)
          )

           (property IOSTANDARD (string "LVCMOS33"))
         )
         (net clk_IBUF (joined
          (portref I (instanceref clk_IBUF_BUFG_inst))
          (portref O (instanceref clk_IBUF_inst))
          )
         )
         (net clk_IBUF_BUFG (joined
          (portref C (instanceref FSM_sequential_cs_reg_0_))
          (portref C (instanceref FSM_sequential_cs_reg_1_))
          (portref O (instanceref clk_IBUF_BUFG_inst))
          )
         )
         (net (rename cs_0_ "cs[0]") (joined
          (portref I0 (instanceref FSM_sequential_cs_0__i_1))
          (portref I0 (instanceref y_OBUF_0__inst_i_1))
          (portref Q (instanceref FSM_sequential_cs_reg_0_))
          )

           (property RTL_KEEP (string "yes"))
         )
         (net (rename ns_0_ "ns[0]") (joined
          (portref D (instanceref FSM_sequential_cs_reg_0_))
          (portref O (instanceref FSM_sequential_cs_0__i_1))
          )
         )
         (net rst (joined
          (portref I (instanceref rst_IBUF_inst))
          (portref rst)
          )

           (property IOSTANDARD (string "LVCMOS33"))
         )
         (net rst_IBUF (joined
          (portref CLR (instanceref FSM_sequential_cs_reg_0_))
          (portref CLR (instanceref FSM_sequential_cs_reg_1_))
          (portref O (instanceref rst_IBUF_inst))
          )
         )
         (net (rename y_0_ "y[0]") (joined
          (portref O (instanceref y_OBUF_0__inst))
          (portref (member y 1))
          )

           (property IOSTANDARD (string "LVCMOS33"))
         )
         (net (rename y_1_ "y[1]") (joined
          (portref O (instanceref y_OBUF_1__inst))
          (portref (member y 0))
          )

           (property IOSTANDARD (string "LVCMOS33"))
         )
         (net (rename y_OBUF_0_ "y_OBUF[0]") (joined
          (portref D (instanceref FSM_sequential_cs_reg_1_))
          (portref I (instanceref y_OBUF_0__inst))
          (portref O (instanceref y_OBUF_0__inst_i_1))
          )

           (property RTL_KEEP (string "yes"))
         )
         (net (rename y_OBUF_1_ "y_OBUF[1]") (joined
          (portref I (instanceref y_OBUF_1__inst))
          (portref I1 (instanceref y_OBUF_0__inst_i_1))
          (portref Q (instanceref FSM_sequential_cs_reg_1_))
          )

           (property RTL_KEEP (string "yes"))
         )
       )

           (property A (integer 0))
           (property B (integer 1))
           (property C (integer 2))
           (property D (integer 3))
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design counter
    (cellref counter (libraryref work))
    (property XLNX_PROJ_DIR (string "D:/other/Courses/Kareem_waseem_Digital_Design/Ass/Ass5/Q2/Synthesis/project1"))
    (property part (string "xc7a35ticpg236-1L"))
  )
)
